# Numberofmissing info in each col

In [ ]:
import pandas as pd

data = pd.read_excel('FullData.xlsx')

data.to_csv('FullData.csv', index=False)

df = pd.read_csv('FullData.csv')

In [ ]:
data2 = df

In [ ]:

df.columns = [column.lower() for column in df.columns]

df = df.apply(lambda x: x.astype(str).str.lower())

df.replace(["na", "nan", "#nan"], "", inplace=True)

print(df.head())

In [ ]:
unique_values_count = df.nunique()

result = list(zip(unique_values_count.index.values, unique_values_count.values))

print("Column Name\tNumber of Unique Values")
for column_name, unique_count in result:
    print(f"{column_name}\t{unique_count}")

In [ ]:
df = data
df.replace(['NaN', '', '#NA'], pd.np.nan, inplace=True)

unique_values_count = df.nunique()

result = list(zip(unique_values_count.index.values, unique_values_count.values))

print("Number of Unique Values")
for column_name, unique_count in result:
    if not pd.isna(unique_count): # exclude NaN and blank values
        print(f"{unique_count}")

In [ ]:
df.replace(['NaN', '', '#NA'], pd.np.nan, inplace=True)

unique_values_count = df.nunique()

result = list(zip(unique_values_count.index.values, unique_values_count.values))

print("Column Name\tNumber of Unique Values")
for column_name, unique_count in result:
    if not pd.isna(unique_count): # exclude NaN and blank values
        print(f"{column_name}\t{unique_count}")

In [ ]:
import numpy as np

nan_count = df.isnull().sum()

print("Total number of NaN cells in each column:")
print(nan_count)

In [ ]:
import numpy as np
if (df.isnull().values | (df == '')).any().any():
    row_index, col_index = np.where(df.isnull().values | (df == ''))
    row_name = df.index[row_index[0]]
    col_name = df.columns[col_index[0]]
    print(f"Empty cell in row '{row_name}', column '{col_name}'")
else:
    print("No empty cells found in the dataframe")

In [ ]:
df = df.drop('CAUSE2', axis=1)
df = df.dropna()
df.columns = [column.lower() for column in df.columns]

df = df.apply(lambda x: x.astype(str).str.lower())

In [ ]:
print(df.head())

In [ ]:
import pandas as pd

missing_values_count = df.isna().sum() + df.isin(['NA', '#NA', '']).sum()

print("Column names:")
print(list(df.columns))

print("\nMissing values count for each column:")
for column_name, count in missing_values_count.iteritems():
    print(f"{column_name}")

for column_name, count in missing_values_count.iteritems():
    print(f"{count}")

In [ ]:
num_rows = df.shape[0]

print(f"Total number of records: {num_rows}")

In [ ]:
unique_values_count = df.nunique()

print("Number of unique values in each column:")
for value in unique_values_count.values:
    print(value)

print("\nColumns with unique values:")
for column_name in unique_values_count.index.values:
    print(column_name)

In [ ]:
databeforeNA = df.dropna()

unique_values_count = databeforeNA.nunique()

print("Number of unique values in each column:")
print(unique_values_count)